#snackbar {
     position: absolute;
     top: 12px;
   
     left: 25px;
    visibility: hidden;
     min-width: 225px; 
     margin-left: 10px; 
     background-color: #e642f5; 
     color: #fff; 
     text-align: center; 
     border-radius: 2px; 
     padding: 16px; 
    
     z-index: 1; 
     



    
     
   }
   
   
   #snackbar.show {
     visibility: visible; 
     
     -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
     animation: fadein 0.5s, fadeout 0.5s 2.5s;
   }
   
 
 
 
   #snackbar2 {
    position: absolute;
    top: 12px;
  
    left: 25px;
   visibility: hidden;
    min-width: 225px; 
    margin-left: 10px; 
    background-color: #e642f5; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
   
    z-index: 1; 
   }
   
   
   #snackbar2.show {
     visibility: visible;
     
     -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
     animation: fadein 0.5s, fadeout 0.5s 2.5s;
   }
   
  
   /* @-webkit-keyframes fadein {
     from {bottom: 0; opacity: 0;}
     to {bottom: 30px; opacity: 1;}
   }
   
   @keyframes fadein {
     from {bottom: 30; opacity: 0;}
     to {bottom: 0px; opacity: 1;}
   }
   
   @-webkit-keyframes fadeout {
     from {bottom: 0px; opacity: 1;}
     to {bottom:30; opacity: 0;}
   }
   
   @keyframes fadeout {
     from {bottom: 30px; opacity: 1;}
     to {bottom: 0; opacity: 0;}
   } */
.footer-heart{text-align:center;font-family: open sans, sans-serif; position: absolute;
  bottom: 0px;
  width: 100%;}

.footer-heart a{border-bottom: 1px solid #453886;color: #453886;padding-bottom: .25em; text-decoration: none;}

.footer-heart a:hover{color:#2196f3; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji{vertical-align: middle;}